<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fanstasycricket.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fanstasycricket.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fanstasyCricket</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fanstasyCricket</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=oracle.cise.ufl.edu:1521/orcl;User ID=NIGUPTA;Password=Rpm17789+" Name="DATA SOURCE=oracle.cise.ufl.edu:1521/orcl;PASSWORD=Rpm17789+;USER ID=NIGUPTA" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FantasyCricketLeague.Models.ApplicationDbContext, FantasyCricketLeague" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OracleConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=oracle.cise.ufl.edu:1521/orcl;USER ID=NIGUPTA;PASSWORD=Rpm17789+" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OracleConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=oracle.cise.ufl.edu:1521/orcl;USER ID=NIGUPTA;PASSWORD=Rpm17789+" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>DATA SOURCE=oracle.cise.ufl.edu:1521/orcl;PASSWORD=Rpm17789+;USER ID=NIGUPTA</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OracleConnection-Web.config Connection String" />
  </ItemGroup>
</Project>